<!DOCTYPE html PUBLIC "a" "b">
<html>
    <head>
        <title>¿A donde nos vamos?</title>
    </head>
        <body>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message[1] }}</li>
                        {% endfor %}

                    </ul>
                {% endif %}
            {% endwith %}

            {% if link != None %}
            <!--<img src="data:image/png;base64,{{ histogram }}" width="900">-->
            <a href="{{ link }}">visitar encuesta</a>
            {% endif %}

            <form action="" method="post">
                {{ form.csrf }}

                <div class="input text">
                    {{ form.travel_name.label }} {{ form.travel_name }}
                </div>
                <div class="input text">
                    {{ form.password.label }} {{ form.password }}
                </div>
                <div class="input text">
                    {{ form.password2.label }} {{ form.password2 }}
                </div>


                <div class="input submit">
                    <input type="submit" value="Crear viaje" />
                </div>
            </form>
            <p><form action="/">
                <input type="submit" value="<- Home" />
            </form><p>

        </body>
</html>