<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%;  width: 100%;margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
<div > <h3>ola k ase </h3></div>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.4, lng: -1.6},
    zoom: 14
  });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key= ** &callback=initMap">
    </script>
  </body>
</html>